main {
  background-color: #faf7f5;
  padding: 50px 0;
}

/* profile */
.profile {
  width: 800px;
  display: flex;
}
.profile__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.profile__image {
  width: 250px;
  display: flex;
}
.profile__title {
  color: #aaa;
  margin-left: 0%;
  font-size: 22px;
}
.profile__list {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  padding: 20px;
}
.profile__item {
  display: flex;
  margin-bottom: 10px;
  margin-left: 0%;
  line-height: 150%;
}
.profile__type {
  line-height: 150%;
  height: 24px;
  color: #999;
  font-size: 14px;
  border: solid 1px #999;
  border-radius: 2rem;
  width: 60px;
  text-align: center;
  margin-right: 10px;
}
.profile__item--contact__list {
  padding: 0;
  list-style: none;
  line-height: 150%;
}
.profile__item--contact__item {
  display: flex;
  margin-bottom: 10px;
  margin-left: 0%;
  line-height: 150%;
  & a {
    display: flex;
    text-decoration: none;
    color: #333;
    margin: 0;
  }
  & img {
    width: 24px;
  }
}